// Shared styles for grid and pane.
.itc-availability,
.itc-availability-numbers {
  @include rem(font-size, 22px);
  text-align: center;
  color: $color-grey;

  .availability,
  .total {
    margin: 0 5px;
  }

  .total {
    @extend .label;
    background: #333;
  }

  .high-availability {
    @extend .label;
    @extend .label-success;
  }

  .moderate-availability {
    @extend .label;
    @extend .label-warning;
  }

  .low-availability {
    @extend .label;
    @extend .label-danger;
  }
}

.pane-itcavailability {
  .itc-availability-numbers {
    @include inline-block;
    margin-right: 1rem;
  }
  .availability-text {
    vertical-align: bottom;
  }
}
