.pane-localist-pane {
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      padding: 0;
      margin-bottom: 2em;
    }
  }

  span {
    display: block;
  }

  // Description.
  .lwn {
    @extend %list-title;

    .lwn0 {
      @include rem(font-size, 18px);
      @extend %list-title;
    }
  }

  .lwl {
    color: $color-grey;

    a {
      color: $color-grey;
    }

    // Location label.
    .lwl0 {
      display: none;
    }
  }
}
