%day-title {
  @extend %fontbold;
  color: $color-yellow;
  text-transform: uppercase;
  margin-bottom: 0.5em;
  @include rem(font-size, 30px);
}

.pane-signage-weather {
  text-align: center;

  h2.pane-title { text-align: left; }

  img { height: auto !important; }

  .temp-min,
  .temp-max {
    @include inline-block;
    @extend %fontbold;
    @include rem(font-size, 22px);
  }

  .temp-min {
    color: $color-grey;
  }

  #current-weather {
    .right-now {
      @extend %day-title;
    }

    img {
      max-width: 120px;
      max-height: 120px;
    }

    #temp {
      @include rem(font-size, 33px);
      @extend %fontbold;
    }

    #feelslike,
    #currently {
    }
  }


  #two-day-forecast {
    margin-top: 1em;
    @include display-flex;

    > div {
      padding: 0 1em;
      border-right: $dotted-line;
      @include flex(100px 1 1);

      &:last-child {
        border: none;
      }
    }

    .temp {
      @include inline-block;
      @extend %fontbold;
      @include rem(font-size, 33px);
    }

    .temp-min,
    .temp-max {
      @include rem(font-size, 33px);
    }

    .day-title {
      @extend %day-title;
      @include rem(font-size, 30px);
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }
  }


  #three-day-forecast {
    margin-top: 1em;
    @include display-flex;

    > div {
      padding: 0 1em;
      border-right: $dotted-line;
      @include flex(100px 1 1);

      &:last-child {
        border: none;
      }
    }

    .day-title {
      @extend %day-title;
      @include rem(font-size, 22px);
    }

    img {
      max-width: 75px;
      max-height: 75px;
    }
  }
}
