.view-promotional-image-slideshow {
  .flexslider { box-shadow: none; }
  ul.slides {
    width: 80% !important;
    margin: 0 auto !important;
  }
  .promo-headline {
    position: absolute;
    bottom: 5%;
    width: 100%;
    @extend %fontbold;
    @include rem(font-size,48px);
    text-shadow: 0 2px 3px rgba(0, 0, 0, 1);
  }
  .promo-body {
    margin-top: 1%;
    color: #cccccc;
    @include rem(font-size,17px);
    text-align: center;
  }
}
