$color-main:  #eeeeee;
$color-black: #000000;
$color-lightgrey: #aaaaaa;
$color-buttongrey: #cccccc;
$color-grey:  #888888;
$color-darkgrey: #444444;
$color-red:   #ff3333;
$color-sky:   #00ccff;
$color-white: #ffffff;
$cambus-blue: #006699; /* Coralville */
$cambus-gold: #ffc000; /* Cambus */
$cambus-red:  #990000; /* Iowa City */

$color-yellow: #ffc000;
$color-main:  #eeeeee;
