/* CSS Document */
.flexible-container  {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
}

.flexible-container iframe,
.flexible-container object,
.flexible-container embed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
