table {
  color: #FFF;
  width: 100%;
  th,
  td {
    padding: 0.5em;
  }
  tr.odd,
  tr.even {
    background: transparent;
  }
}

%table-plain {
  width: 100%;

  th {
    border-color: #333;
    @extend %fontsemibold;
  }

  tr {
    border-bottom: 1px solid #333;
  }

  tr.odd,
  tr.even {
    background: transparent;
  }
}
