/*
 * BONGO
 */


.pane-bongo-predictions {
  @include rem(margin-bottom,20px);
  .pane-title {
  }
  .pane-content { width: 100%; }
  .bongo-predictions {
    width: 100%;
    @include rem(font-size,26px);
    th {
      @extend %fontbold;
      color: $color-main;
      line-height: 2;
      @include rem(padding-left,10px);
    }
    tr {
      color: $color-main;
    }
    tr:last-child { border-bottom: none; }
    td {
      @include rem(padding,10px);
      @extend %fontreg;
      border-bottom: 1px solid $color-black;
    }
    .cambus {
      background-color: $cambus-gold !important;
      color: $color-black;
    }
    .coralville {
      background-color: $cambus-blue !important;
      color: $color-white;
      text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    }
    .iowa-city {
      background-color: $cambus-red !important;
      color: $color-white;
      text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    }
  }
}

.grid-4 .pane-bongo-predictions {
  .bongo-predictions {
    @include rem(font-size,22px);
  }
}

.panel-alpha .grid-12 .pane-bongo-predictions {
  .bongo-predictions {
    @include rem(font-size,32px);
    td { @extend %fontsemibold; }
  }
}
