/*
 * EVENTS
 */

.view-news-events {
  height: auto;
  @include rem(margin-top,10px);
  @include rem(padding,0px);
  clear: both;
  img {
    float: left;
    margin: 0 10px 10px 0;
  }
  p {
    color: $color-lightgrey;
    @extend %fontreg;
    @include rem(font-size,22px);
    &.title {
      color: $color-white;
      @extend %fontsemibold;
      @include rem(font-size,26px);
      line-height: 1;
      &.college-events { color: $color-yellow; }
    }
    &.date, &.location {
      @include rem(font-size,20px);
      font-weight: bold;
    }
    &.location { }
    &.source {
      color: $color-white;
      @include rem(font-size,13px);
    }
  }
  .view-header p {
    width: 100%;
    @include rem(margin-bottom,20px);
    border-bottom: 1px dashed #333333;
    padding: 2% 0 1%;
    color: $color-yellow;
    @extend %fontbold;
    @include rem(font-size,30px);
  }
  .view-empty p {
    color: inherit;
    font-size: inherit;
  }
  .views-row {
    padding-bottom: 5%;
  }
  .views-slideshow-cycle-main-frame {
    width: auto;
    .views-slideshow-cycle-main-frame-row { min-width: 100%; }
  }
  &.content-edit .views-row { padding-bottom: 0; }
}
