/**
 *
 * Mixins
 */



@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
    visibility: hidden;
  }
}

@mixin box-sizing($val) {
  -moz-box-sizing: $val;
  -webkit-box-sizing: $val;
  box-sizing: $val;
}
