/*
 * PANELS IN-PLACE-EDITOR
 */

#panels-ipe-control-container { background-color: rgba(0, 0, 0, 0.8) !important; }

.panels-ipe-editing .panel-display {
  .panel-col-bottom {
    bottom: 0;
    padding: 0;
  }
}

.panels-ipe-editing .panels-ipe-portlet-wrapper { border: 1px dashed $color-darkgrey !important; }

#panels-change-layout .panel-display {
  .wrapper {
    border-bottom: none;
    background: none;
    margin-bottom: 0;
    padding: 2% 0;
  }
  .panel-col-bottom {
    position: relative !important;
    bottom: 0;
    border-top: none;
    background: none;
    padding: 2% 0;
  }
}

.panels-choose-layout {
  .layout-link > div a { color: $color-black; }
}

.panels-ipe-pseudobutton-container a { color: $color-yellow; }

.panels-ipe-placeholder {
  @include rem(margin,0px);
  @include rem(padding,0px);
  border: none !important;
  background-color: transparent !important;
  .panels-ipe-placeholder-content {
    h3 {
      width: auto;
      color: $color-sky;
      @include rem(margin,0px);
      @include rem(font-size,26px);
      text-align: center;
    }
  }
  .panels-ipe-newblock {
    box-shadow: none !important;
    a { box-shadow: none !important; }
    li { display: inline; }
  }
}

.panels-ipe-handlebar-wrapper {
  li { margin-right: 5px !important; }
  .panels-ipe-draghandle, .panels-ipe-nodraghandle { padding: 5px; }
}

.panels-ipe-nodrag {
  .panels-ipe-handlebar-wrapper { display: none !important; }
}
