.pane-signage-weather {
  #forecastdata {
    text-align: center;
  }

  #current-weather {
    margin-bottom: 1em;
  }

  #temp {
    font-size: 2.3em;
  }

  #current {
    font-size:2.3em;
  }

  #three-day-forecast {

    #today,#tomorrow,#next-day {
      @include inline-block;
      margin-right: 1.5em;

      #today-max,#tomorrow-max,#next-day-max {
        @include inline-block;
        font-size:2em;
      }

      #today-min,#tomorrow-min,#next-day-min {
        @include inline-block;
        font-size:1.5em;
      }
    }
  }
}
