/*
 * WHITE PAGES
 */

.whitepages {
  display: block;
  height: 400px;
  width: 100%;
  @include rem(font-size,12px);
  line-height: 1.5;
  overflow-y: hidden;
  table { width: 100%; }
  td {
    vertical-align: top;
    .whitepages_name { white-space: nowrap; }
    .whitepages_title { padding: 0 2%; }
    .whitepages_office {
      @include rem(margin-left,5px);
      text-align: right;
      white-space: nowrap;
    }
    .whitepages_officephone {
      @include rem(margin-left,5px);
      text-align: right;
      white-space: nowrap;
    }
  }
}
